html, body {
    height: 100%;
}

body {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    background: url("../img/main_back.jpg") no-repeat fixed center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.buttons {
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
    text-transform: uppercase;
    color: white;
}

.btn {
    text-decoration: none;
    font-size: 1.5rem;
    padding: 15px 30px;
    position: relative;
    margin: 25px;
    text-align: center;
    background-color: white;
    color: #000000;
    border: 2px solid #000000;
    border-radius: 1em;
    transition-duration: 0.4s; /*speed of the "hover" effect*/
}

.btn:hover { /*change the style of a button when you move the mouse over it*/
    transform: translateY(-0.25em);
    box-shadow: 0 0.5em 0.5em -0.4em;
    background-color: #000000;
    color: white;
    border: 2px solid white;
    border-radius: 1em;
}


