body {
    background-color: #3a91bd;
    font-family: Tahoma, serif;
    font-size: 25px;
}

.title {
    color: whitesmoke;
}

.card {
    width: 400px;
}

.links {
    text-align: center;
    background-color: #00ffff;
    height: 100px;
    width: 100px;
}

.list {
    color: white;
    margin: 0 400px;
}