body {
    background: url("img/back.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: Lucida Console, fantasy;
    font-size: 10px;
}

.poleText{
    font-size: 20px;
}

.dossier {
    display: inline-block;
    overflow-wrap: break-word;
    width: 400px;
    height: 400px;
    top: 70px;
    background-color: #fff7f7;
    box-shadow: 10px 10px 10px #b0b0b0;
    border-radius: 20px;
    padding: 20px;
    position: absolute;
    left: 850px;
}

#plane {
    background-color: #ffffff;
    position: relative;
    left:60px;
    top:60px;
    width: 600px;
    height: 600px;
    border: 4px solid #000000;
}
#createPath {
    top:220px;
}

button {
    display: block;
    position: absolute;
    margin: auto;
    top: 350px; left: 20px; bottom: 0; right: 20px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 500px;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 4px;
    min-width: 160px;
    font-weight: 700;
    text-align: center;
    color: #000000;
    box-shadow: inset 0 0 0 3px #0e0e0e;
    background-color: transparent;
    height: 50px;
}
button:hover{
    color: #fff;
    background-color: #000000;
}
.round {
    display: inline-block;
    background-color: black;
    text-align: center;
    line-height: 20px;
    font-size: 15px;
    color: #f7fffc;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: fixed;
}