body {
    background: url("img/background.jpg") no-repeat fixed center center;
    background-size: cover;
    font-family: Lucida Console, fantasy;
    font-size: 10px;
}

#mainBut{
    left: 400px;
}

button {
    display: block;
    position: absolute;
    margin: auto;
    top: 350px; left: 20px; bottom: 0; right: 20px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 500px;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 4px;
    min-width: 160px;
    font-weight: 700;
    width: 100px;
    text-align: center;
    color: #000000;
    box-shadow: inset 0 0 0 3px #0e0e0e;
    background-color: transparent;
    height: 50px;
}
button:hover{
    color: #fff;
    background-color: #000000;
}

#plane {
    background-color: #f7fffc;
    position: relative;
    left:60px;
    top:60px;
    width: 600px;
    height: 600px;
    border: 4px solid #000000;
}

.round {
    display: inline-block;
    background-color: black;
    text-align: center;
    line-height: 20px;
    font-size: 15px;
    color: #f7fffc;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: fixed;
    user-select: none;
}