body {
    background: url("img/thomas-lefebvre-NRd7y-Gg_yw-unsplash.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: Lucida Console, fantasy;
    font-size: 10px;
}
.data {
    background-color: #fff9f6;
    position: absolute;
    right: 50px;
    top: 50px;
    width: 300px;
    height: 470px;
    border-radius: 20px;
}
.input-data {
    display: inline-block;
}
.point {
    width: 50px;
    height: 30px;
}
table td {
    border: 1px solid black;
    padding: 20px;
}
#table {
    opacity: 50%;
    position: relative;
    width: 73%;
}
table {
    background: url("img/2fd71aac05635a2d364d73497922604c.png");
    position: relative;
    margin: auto;
}
.Buttons {
    background-color: white;
    position: relative;
    left: 55px;
    width: 200px;
    height: 40px;
}
#noPath {
    color: red;
    position: relative;
    left: 115px;
}