body {
    background: url(../img/t1_back.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: Lucida Console, fantasy;
    font-size: 10px;
    user-select: none;
}
.data {
    opacity: 85%;
    background-color: #fff9f6;
    position: absolute;
    right: 50px;
    top: 50px;
    width: 320px;
    height: 390px;
    border-radius: 20px;
}
.input-data {
    display: inline-block;
    padding: 15px;
}
.point,
#map-size {
    width: 40px;
    height: 30px;
}
table td {
    border: 1px solid black;
    padding: 15px;
}
table {
    background: url("../img/t1_tableBack.png");
    margin: auto;
}
#table {
    display: inline-block;
    width: 75%;
    padding: 30px;
}
.Buttons {
    background-color: white;
    position: relative;
    top: 20px;
    left: 60px;
    width: 200px;
    height: 40px;
    border-radius: 10px;
}
#noPath {
    color: red;
    position: relative;
    top: 15px;
    text-align: center;
}