body{
    background-color: #D9AFD9;
    background-image: linear-gradient(50deg, #f656f6 0%, #64e7f6 100%);
    background-size: 5842px 5000px;
}

button{
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    border-radius: 500px;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 4px;
    min-width: 160px;
    font-weight: 700;
    text-align: center;
    color: #000000;
    box-shadow: inset 0 0 0 3px #0e0e0e;
    background-color: transparent;
    height: 50px;
}

.clear{
    position: absolute;
    right: 295px;
    top: 398px;
}

.clust{
    position: absolute;
    right: 295px;
    top: 296px;
}

button:hover{
    color: #fff;
    background-color: #000000;
}

#canvas{
    border: 4px solid #000000;
    background-color: #f5e6ff;
    background-image: linear-gradient(50deg, #f2bbfd 0%, #befffd 100%);
}
