body{
    background: url("img/perpleBack.jpg");
    background-size: cover; 
    user-select: none;
}

.clear{
    position: absolute;
    left:1330px;
    bottom: 380px;
}

.clust{
    position: absolute;
    left:1330px;
    bottom: 450px;
}

label{
    font-weight: 700;
    position: absolute;
    font-size: 17px;
    font-family: Candara, serif;
    left: 1336px;
    bottom:600px;
}

input[type=number]{
    background-color: transparent;
    border: none;
    text-align: center;
    font-family: Candara, serif;
    font-weight: 700;
    font-size: 17px;
    width: 140px;
    border-bottom: 1px solid black;
    position: absolute;
    left: 1340px;
    bottom:550px}

button{
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    border-radius: 500px;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 4px;
    min-width: 160px;
    font-weight: 700;
    text-align: center;
    color: #000000;
    box-shadow: inset 0 0 0 3px #0e0e0e;
    background-color: transparent;
    height: 50px;
}

button:hover{
    color: #fff;
    background-color: #000000;
}

.canvas{
    border: 4px solid #000000;
    background-color: #ffecff;
    width: 400px;
    height: 400px;
}

#canvas1{
    position: relative;
    left: 15px;
    background-color: transparent;
}

#canvas2{
    position: relative;
    left: 30px;
    background-color: transparent;
}

.algoName{
    font-family: Candara, serif;
    font-weight: 700;
    font-size: 40px;
    width: fit-content;
}

#hierarchical{
    position: relative;
    left: 80px;
    bottom: 20px;
}

#kMeans{
    position: relative;
    left: 970px;
    bottom: 198px;
}

#spanning{
    position: relative;
    left: 455px;
    bottom:109px;
}

#colors{
    position: relative;
    width: fit-content;
    bottom: 50px;
    font-family: Candara, serif;
    font-weight: 700;
    font-size: 20px;
}

#showColors{
    position: relative;
    height: 30px;
    width: 1300px;
    left: 80px;
    bottom:95px;
}