body {
    /*font-family: Lucida Console, fantasy;
    font-size: 10px;*/
}
table td {
    padding: 40px;
    border: 1px solid black;
}
table {
    position: relative;
    top: 100px;
    left: 100px;
    border-spacing: 0;

}
/*canvas {
    position: absolute;
    top: 100px;
    left: 100px;
    border: 1px solid #ccc;

}*/
