body {
    background: url("../img/t5_back.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: Lucida Console, fantasy;
    font-size: 10px;
}
h2 {
    position: absolute;
    top:10px;
    left:10px;
    display: flex;
    margin: auto;
}
#csv1 {
    position: absolute;
    top:30px;
    left:10px;
    width: 1490px;
    height: 80px;

}
#inf {
    position: relative;
    top:10px;
    width: 100%;
    height: 150px;
    background-color: white;
    border-radius: 10px;

}

button {
    display: block;
    position: relative;
    top: 50px; left: 20px; bottom: 0; right: 1000px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 500px;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 4px;
    min-width: 160px;
    font-weight: 700;
    text-align: center;
    color: black;
    box-shadow: inset 0 0 0 3px white;
    background-color: white;
    height: 50px;
    font-family: Lucida Console, fantasy;
}

button:hover{
    transform: translateY(-0.25em);
    box-shadow: 0 0.5em 0.5em -0.4em;
    background-color: white;
    color: black;
}
